* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: rgb(33, 171, 205);
    background: radial-gradient( circle, rgba(164, 219, 232) 0%, rgba(33, 171, 205) 35%, rgba(164, 219, 232)100%);
}

.weather {
    display: flex;
    align-items: center;
    margin: 15px 0;
    font-size: 1.5rem;
}

#location {
    display: flex;
    align-items: center;
    margin: 15px 0;
    font-size: 1.5rem;
}